<% if user_signed_in? %>
  <span id="form-comment" class="panel">
    <%= form_for [@post, @comment] do |f| %>
      <%= f.hidden_field :parent_id, value: parent_id %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <p class="emoji-picker-container emoji_frame">
        <%= f.text_area :content, as: :text, placeholder: t(".write_comment"), required: true, class: "form-control", data: {emojiable: true} %>
      <%= f.submit t(".comment"), class: "btn btn-xs btn-custom2" %>
    <% end %>
  </span>
<% else %>
  <button class="signin_to_comment">
    <%= link_to t(".sign_in"), "#signin", "data-toggle" => "modal", :class => 'btn btn-small sign_in' %>
  </button>
  <% flash[:notice] = t ".not_member" %>
<% end %>
