<div id="page-wrapper">
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h2><%= t ".title" %></h2>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th><%= t ".index" %></th>
                <th><%= t ".title_video" %></th>
                <th><%= t ".url" %></th>
                <th><%= t ".delete" %></th>
              </tr>
            </thead>
            <tbody>
              <% @videos.each.with_index do |video, index| %>
                <tr class="info">
                  <td>
                    <%= create_index params[:page], index, Settings.admin_user_page %>
                  </td>
                  <td><%= video.name %></td>
                  <td><%= video_tag video.video_url.to_s, controls: true %></td>
                  <td>
                    <%= link_to raw("<span class='glyphicon glyphicon-trash text-danger'></span>"), [:admin, video], method: :delete,
                    data: {confirm: t(".confirm_delete"), remote: true}, class: "delete" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="pani-center">
            <%= paginate @videos, theme: 'twitter-bootstrap-3'%>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
